/*universal*/
:root {
    --black: #1C262A;
    --darkblue: #264048;
    --lightblue: #68a3b6;
    --darkorange: #CA6F00;
    --lightorange: #FFA20D;
    --white: #FFF7ED;
    --grey: #344044;
}

h1 {
    font-size: 64px;
    font-weight: 700;
}

h2 {
    font-size: 52px;
    font-weight: 500;
}

h3 {
    font-size: 48px;
    font-weight: 700;
}

p {
    font-size: 28px;
    font-weight: 500;
}

/*footer*/

body{
    background-color: black;
}
header{
    height: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
    padding-left: 80px;
    padding-right: 80px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 190px;

}

#logo{
    height: 100px;
}

a{
    text-decoration: none;
    color: white;
}

.footer {
    display: flex;
    padding: 40px 80px;
    justify-content: space-between;
    align-items: center;
}

.some img {
    width: 75px;
    height: 75px;
}